.vscode/settings.json
drew.minkin@divergence.one/pbix/AP_Sample.pbix
drew.minkin@divergence.one/py/2019sqlserver.zip
drew.minkin@divergence.one/py/murach_python_data_analysis.zip
drew.minkin@divergence.one/sql/export.txt
